@font-face {
  font-family: 'Alibaba-PuHuiTi-Bold';
  src: url("../assets/font/Alibaba-PuHuiTi-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alibaba-PuHuiTi-Light';
  src: url("../assets/font/Alibaba-PuHuiTi-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alibaba-PuHuiTi-Medium';
  src: url("../assets/font/Alibaba-PuHuiTi-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alibaba-PuHuiTi-Regular';
  src: url("../assets/font/Alibaba-PuHuiTi-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LCDMN';
  src: url("../assets/font/LCDMN__.TTF");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LCDMB';
  src: url("../assets/font/LCDMB__.TTF");
  font-weight: normal;
  font-style: normal;
}
